Modelos/Winform/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcularEspacioTotal">
        <s:complexType />
      </s:element>
      <s:element name="CalcularEspacioTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcularEspacioTotalResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularEspacioDisponible">
        <s:complexType />
      </s:element>
      <s:element name="CalcularEspacioDisponibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcularEspacioDisponibleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcularEspacioTotalSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularEspacioTotal" />
  </wsdl:message>
  <wsdl:message name="CalcularEspacioTotalSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularEspacioTotalResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularEspacioDisponibleSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularEspacioDisponible" />
  </wsdl:message>
  <wsdl:message name="CalcularEspacioDisponibleSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularEspacioDisponibleResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CalcularEspacioTotal">
      <wsdl:input message="tns:CalcularEspacioTotalSoapIn" />
      <wsdl:output message="tns:CalcularEspacioTotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularEspacioDisponible">
      <wsdl:input message="tns:CalcularEspacioDisponibleSoapIn" />
      <wsdl:output message="tns:CalcularEspacioDisponibleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularEspacioTotal">
      <soap:operation soapAction="http://tempuri.org/CalcularEspacioTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularEspacioDisponible">
      <soap:operation soapAction="http://tempuri.org/CalcularEspacioDisponible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularEspacioTotal">
      <soap12:operation soapAction="http://tempuri.org/CalcularEspacioTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularEspacioDisponible">
      <soap12:operation soapAction="http://tempuri.org/CalcularEspacioDisponible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:53303/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:53303/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>